# PRISMA URL
DATABASE_URL=PROVIDE YOUR PRISMA DB URL HERE
#NODE ENVIRONMENT
NODE_ENV=development
#PORT
PORT=8000
#FRONTEND APP URL
APP_URL=
#SALT ROUND VALUE
BCRYPT_SALT_ROUNDS=
#JWT ACCESS TOKEN SECRET
JWT_ACCESS_SECRET=
#JWT REFRESH TOKEN SECRET
JWT_REFRESH_SECRET=
#JWT ACCESS EXPIRES IN
JWT_ACCESS_EXPIRES_IN=1d
#JWT REFRESH EXPIRES IN
JWT_REFRESH_EXPIRES_IN=7d
#STRIPE KEYS
STRIPE_SECRET_KEY=PROVIDE YOUR OWN SECRET KEY
STRIPE_PRICE_ID=PROVIDE YOUR OWN PRICE ID
STRIPE_WEBHOOK_SECRET_KEY=GENERATE YOUR OWN WEBHOOK SECRET